![Title](logo1.png)

<font color='blue'> 
    
### College of Computer Science and Engineering 
####  The 2nd programming competition /  2022 – 1438 
#### Python for Data Analysis)   
</font>

  <font color=' green'>   
    
كلية علوم وهندسة الحاسب الالي
    
المسابقة البرمجية الثانية لتحليل البيانات باستخدام لغة البايثون 
    

</font>

 <br> 
 
 <br>



<img src="giphy.gif" style="width: 500px;"/>

---

#### Gruop Names:

##### 1 ) Studnt_Names_______________ Studnt ID _______________ 
##### 2 ) Studnt_Names_______________ Studnt ID _______________ 
##### 3 ) Studnt_Names_______________ Studnt ID _______________ 
-----

**Note**

<blockquote>
    
<font color='red'>This is a comptetion <b>template</b> , you can use it for your competition project submission, once you finish you then can save it as ** html/pdf ** template to send it to 
</font> 
    
tajrees@uhb.edu.sa

by the end of TODAY
    
</blockquote>

<blockquote>
    
<img src="sub.png" align='left'  style="width: 350px;"/>
    
 </blockquote>

<blockquote>

This template  was made available to help you to get started, <b>HOWEVER</b>, adding your unique work will lead to obtain higher score such as :

<ul>
<li>Exaplin your data very well </li>
<li>adding subtitle for each step </li>
<li> adding descrition for each steps before the code </li>
<li> adding comment to each codes</li>
<li> explain your outcome </li>
<li> adding more statsic desciptives for your data</li>
<li> using more visualtaions</li>
<li> clean and orginse codes </li>
<li> clean and orginse presentation</li>
<li> creativities </li>
<li> adding summary at the end of your project </li>
 



</ul>

***please make sure you read the project instruction 
    
</lockquote>

---

# Data project foldere 

<b>You can install this template and the dataset availabe at </b> :

https://uhbksa.sharepoint.com/:f:/s/CSE_Competition_Feb2022/EgPJ3M10LnpHoXqUwyUmsG4ByMhtP5WkJnBPekgbpx_5_g?e=SeLMD4

---

# Project Question (Main Goal )

<font color='green'>
    
#### The problem that we are going to solve here is that given a dataset that describe a house in famouse city, your chosen machine learning algorthims must predict the house price. 

</font>

<img src="data-analytics-project-1.gif"/>

## project outcome (deliverable ) : 

- your project outcome must include in your project the follwing  :
<ol>   
<li> Data exploration (observation) include data descriptions, info, view the head ..etc </li>
<li> Data cleaning if needed </li>
<li> Data visualatisatioin </li>
<li> Data correlation </li>
<li> The machine algorthims stage [ such as train our machine learning model using sciki-tlearn’s boston dataset.}
<li> Conclusion of your team work (Summary outcome)</li>
      
     
</ol>

----

---

## Import library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# pip install seaborn 
import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
from sklearn.datasets import load_boston

### Data observaition


<img src="bar.gif" style="width: 300px;"/>

**Example 1 **

Step 1 : 
    
    
read my data using the follwing script :

In [3]:
data = pd.read_csv('clean_data.csv')

**Example 2 **

Step 2 : 
    
    
view the first 5 rows of the data using data.head():

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Data description :

In this dataset, each row describes a town or village. There are 506 rows and 13 attributes (features) with a target column (price).

<ul>

<li>Number of Instances: 506</li>

<li>Missing Attribute Values:  None.</li>
 
<li>Attribute Information: </li>
</ul>

    a. CRIM      per capita crime rate by town -  معدل الجريمة للفرد حسب المدينة


    b. ZN        proportion of residential land zoned for lots over 25,000 sq.ft. -   نسبة الأراضي السكنية المخصصة لقطع أكثر من 25000 قدم مربع.
      
    c. INDUS     proportion of non-retail business acres per town-  نسبة فدادين الأعمال غير التجزئة لكل مدينة
    
    d. CHAS      Charles River dummy variable (= 1 if tract bounds river; 0 otherwise) -    1 إذا كان المسالك يحد النهر

    e. NOX       nitric oxides concentration (parts per 10 million)- تركيز أكاسيد النيتريك (أجزاء لكل 10 مليون)

    f. RM        average number of rooms per dwelling -  متوسط  عدد الغرف لكل مسكن

    g. AGE       proportion of owner-occupied units built prior to 1940-  نسبة الوحدات التي يشغلها مالكوها والتي بنيت قبل عام 
   
    h. DIS       weighted distances to five employment centres-  مسافات مرجحة لخمسة مراكز توظيف   

    i. RAD       index of accessibility to radial highways-  مؤشر إمكانية الوصول إلى الطرق السريعة القطرية
 
    j. TAX      full-value property-tax rate per ( dollar 10,000 ) -  معدل ضريبة الممتلكات بالقيمة الكاملة لكل (10000 دولار)
    
    k. PTRATIO  pupil-teacher ratio by town-   نسبة التلاميذ إلى المدرسين PTRATIO حسب المدينة

    l. B        1000 (Bk - 0.63) ^ 2 where Bk is the proportion of blacks  by town -  - Bk هي نسبة السود حسب المدينة
   
   m. LSTAT    % lower status of the population-  مكانة أقل من السكان

    n. MEDV     Median value of owner-occupied homes in  dollar 1000's-  القيمة المتوسطة للمنازل التي يشغلها مالكوها في 1000 دولار

explainig the **output** (step2) :

As we can see we have ...

**Example 3 **

Step 3 : 
    
    
view the data shape using 

```Python
print(data.shape)
```

In [5]:
print(data.shape)

(506, 14)

explainig the **output** (step3) :

As we can see we have ... 

as we see the data shape is 506 row and  14 colmns (varibles )

----

In [ ]:
# think of other data observation codes 
# Viewing the data statistics  (also explain the output )
# Finding out the correlation between the features (also explain the output )# print(data.columns)
# print(data.info())

#  data.columns

### Explaning the method :
data.info() print information about dataframe.

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

### Explaning the output:
the output of the method is shows informations that contains: 
- the number of columns 
- column labels
- column data types
- memory usage 
- range index 
- number of cells in each column "non-null values"

### Explaning the method:
This method to just show the column and row

In [25]:
data.shape

(506, 14)

### Explaning the output:
It shows tuple give the

### Data cleaning

 we check if there is any missing data for all columns

In [22]:
# Also Think of :
# Check for missing values 
# See rows with missing values  (also explain the output )

data.isnull().all()

CRIM       False
ZN         False
INDUS      False
CHAS       False
NOX        False
RM         False
AGE        False
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT      False
PRICE      False
dtype: bool

### Explaning the output 

the output shows the column and if it is any null in every column
As we see, there are not any missing data

# # Data

### Data Visualizing

<img src="data-world-circle.gif" style="width: 400px;"/>

In [ ]:
# Plotting the heatmap of correlation between features

In [30]:
# using Finding out the correlation between the features

(14, 14)

In [ ]:
# Visualizing the differences between actual prices and predicted values

### Algorthims 

(such as  Linear regression)

<img src="cat.gif" style="width: 400px;"/>

**remember** that :

The machine learning model that you planing to use is very great if you can use it to predict the house price. 

first to To train our machine learning model with the housing data, we will be using **scikit-learn’s ** dataset.

you can strat for example to use Linear regressor  and to Create a Linear Regression you need to import this from sklearn.linear_model import LinearRegression and then  use =  Create a Linear regressor
example :  
lm = LinearRegression()

you can split your data to train the model using the training sets (remember how we did it in the last 3 sessions) example : 

lm.fit(X_train, y_train)


then you can build your Model prediction on train data example :

y_pred = lm.predict(X_train)

In [ ]:
# Spliting target variable and independent variables

In [ ]:
# Splitting to training and testing data

### Model Evaluation

In [ ]:
# Model Evaluation
# Model prediction on train data

**remember** also that :

you can use Visualizition to explain your module

In [ ]:
# Visualizing the differences between actual prices and predicted values

In [19]:
# to save the output of your data use :
data_write = data.to_csv('clean_data.csv')

![Title](best.gif)

![Title](logo1.png)